table.tour-match {
    border-collapse: collapse;
    border: 2px solid;
    table-layout: fixed;

    td{
        &.tour-name{
            padding: 0px 8px 0px 8px;
            $width: 120px;
            width: $width;
            max-width: $width;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &.tour-point, &.tour-rank{
            padding: 0;
            text-align: center;
        }
        &.tour-point{
            background-color: hsl(330, 80, 80);
            // color: white;
            width: 36px;
        }
        &.tour-rank{
            background-color: hsl(120, 80, 80);
            // color: white;
            width: 16px;
        }

        font-size: 18px;
        height: 25px;
        line-height: 25px;
        border: 1px solid;
    }
}